$theme-light: (
	primary-1: #5c5f66,
	primary-2: #3d4047,
	primary-3: #07080a,
	accent-1: #b2d9ff,
	accent-2: #6bb5ff,
	accent-3: #0f87ff,
	accent-4: #005cb8,
	accent-5: #004182,
	accent-red-1: #FFC7C7,
	accent-red-2: #FF9494,
	accent-red-3: #FA4B4B,
	accent-red-4: #C20A0A,
	accent-red-5: #8A0000,
	outline-1: #d2d4d6,
	outline-2: #c0c3c4,
	outline-3: #afb1b3,
	outline-4: #98999c,
	outline-5: #74767a,
	background-0: #f0f1f2a0,
	background-1: #e4e5e6,
	background-2: #f0f1f2,
	background-3: #fcfcfc,
	background-4: #ebeced,
	white: #000000,
	black: #ffffff,
);

$theme-dark: (
	primary-1: #9da2a6,
	primary-2: #c2c8cc,
	primary-3: #f5f9fc,
	accent-1: #b2d9ff,
	accent-2: #57abff,
	accent-3: #0079f2,
	accent-4: #0053a6,
	accent-5: #004182,
	accent-red-1: #660000,
	accent-red-2: #A60808,
	accent-red-3: #E52222,
	accent-red-4: #FF6666,
	accent-red-5: #FFCFCF,
	outline-1: #4e5569,
	outline-2: #5f677a,
	outline-3: #70788c,
	outline-4: #828899,
	outline-5: #9195a1,
	background-0: #0e1525a0,
	background-1: #3c445c,
	background-2: #2b3245,
	background-3: #1c2333,
	background-4: #0e1525,
	white: #ffffff,
	black: #000000,
);

$themes: (
	light: $theme-light,
	dark: $theme-dark,
);
